<h1>Requests#show</h1>
<p>Find me in app/views/requests/show.html.erb</p>

  <div class="form-group">
  	<p>Request.url: <%= @request.url %></p>
  	<p>Request.p_name: <%= @request.p_name %></p>  	
  	<p>Request.p_code: <%= @request.p_code %></p>  	
  	<p>Request.p_sum_rub: <%= @request.p_sum_rub %></p>  	
  	<p>Request.p_sum_foreign: <%= @request.p_sum_foreign %></p>  	
  	<p>Request.p_sum_total: <%= @request.p_sum_total %></p>
  </div> 
  <br/>
